body {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header-area {
  padding: 16px 0;
}
.header-info {
  padding-top: 10px;
}
.single-header-info {
  padding-left: 65px;
  position: relative;
}
.single-header-info img {
  height: 45px;
  left: 0px;
  margin-top: -22.5px;
  position: absolute;
  top: 50%;
  width: 45px;
}
.single-header-info h2 {
  color: #222;
  font-size: 15px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 8px;
}
.single-header-info p, .single-header-info a {
  color: #666;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0 0 15px;
  font-weight: 700;
}
a{
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #333;
}
a:hover {
  text-decoration: none;
}
.menu-area {}
.mainmenu-wrap {}
.mainmenu {
  padding-left: 23px;
}
.mainmenu ul {
  margin: 0;
  padding: 0;
}
.mainmenu ul li {
  list-style: none;
  display: inline-block;
  position: relative;
}
.mainmenu ul li.megamenu {
  position: inherit;
}
.mainmenu ul li.megamenu .main-megamenu-wrapper {
  width: 100%;
  overflow: hidden;
}
.mainmenu ul li.megamenu .main-megamenu-wrapper ul {
  float: left;
  width: 30%;
}
.mainmenu ul li a {
  padding: 30px 20px;
  display: inline-block;
  font-size: 15px;
  color: #c0c0c0;
  text-transform: uppercase;
  font-weight: 700;
}
.mainmenu ul li a:hover {
  color: #222;
}

