/*Ashnil*/
.caption {
  font-size: medium;
}


/* Base CSS */

.alignleft {
  float: left;
  margin-right: 15px;
}

.alignright {
  float: right;
  margin-left: 15px;
}

.aligncenter {
  display: block;
  margin: 0 auto 15px;
}

a:focus {
  outline: 0 solid
}

img {
  max-width: 100%;
  height: auto;
}

.fix {
  overflow: hidden
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  height: auto;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0 0 15px;
  font-weight: 700;
}
a{
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #333;
}
a:hover {
  text-decoration: none;
}

.slider-area {
  position: relative;
  z-index: 1;
}







